#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&bootloader {
	label = "Bootloader";
};

&behaviors {
	td_bootloader: td_bootloader {
		compatible = "zmk,behavior-tap-dance";
		#binding-cells = <0>;
		tapping-term-ms = <500>;// Time window for triple tap
		bindings = <&kp C_VOL_DN>,// Single tap behavior (your original key)
		<&kp LCTRL+L>,// Double tap (do nothing special)
		<&bootloader>;// Triple tap → enter bootloader
	};
};

/ {
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {// Layer 0-------
			// |     Z     |     M     |     K     |
			// |     A     |     B     |     C     |
			// |     D     |     E     |     F     |
			bindings = <
			&kp LCTRL+Z &kp LCTRL+Y &kp C_VOL_UP
			&kp C_PREV  &kp C_NEXT   &td_bootloader
			&kp ESCAPE  &kp DEL      &kp C_PLAY_PAUSE
			>;
		};
	};
};
