#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
			// |      Z      |      M      |      K      |
			// |      A      |      B      |      C      |
			// |      D      |      E      |      F      |
			bindings = <
			&kp LC(Z)    &kp LC(Y)    &mc C_VOL_UP
			&mc C_PREV   &mc C_NEXT   &mc C_VOL_DN
			&kp ESC      &kp DELETE   &mc C_PLAY_PAUSE
			>;
		};
	};
};